<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>PaperManagement</display-name>
	<welcome-file-list>
		<welcome-file>landing.jsp</welcome-file>  
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.ssdut.java.loginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>com.ssdut.java.registerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forgotServlet</servlet-name>
		<servlet-class>com.ssdut.java.forgotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resetNPServlet</servlet-name>
		<servlet-class>com.ssdut.java.resetNPServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>personalInfoServlet</servlet-name>
		<servlet-class>com.ssdut.java.personalInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.ssdut.java.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFavoritesServlet</servlet-name>
		<servlet-class>com.ssdut.java.UploadFavoritesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addPaperServlet</servlet-name>
		<servlet-class>com.ssdut.java.addPaperServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addPaperFavoritesServlet</servlet-name>
		<servlet-class>com.ssdut.java.addPaperFavoritesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownLoadServlet</servlet-name>
		<servlet-class>com.ssdut.java.DownLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.ssdut.java.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFavoritesServlet</servlet-name>
		<servlet-class>com.ssdut.java.DeleteFavoritesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FavoritesServlet</servlet-name>
		<servlet-class>com.ssdut.java.FavoritesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>disFavoritesServlet</servlet-name>
		<servlet-class>com.ssdut.java.disFavoritesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>paperInfoServlet</servlet-name>
		<servlet-class>com.ssdut.java.paperInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>com.ssdut.java.searchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>suggestServlet</servlet-name>
		<servlet-class>com.ssdut.java.suggestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarkReadServlet</servlet-name>
		<servlet-class>com.ssdut.java.MarkReadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFolderServlet</servlet-name>
		<servlet-class>com.ssdut.java.AddFolderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadMyFoldersServlet</servlet-name>
		<servlet-class>com.ssdut.java.UploadMyFoldersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddDiscussServlet</servlet-name>
		<servlet-class>com.ssdut.java.AddDiscussServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddLikeServlet</servlet-name>
		<servlet-class>com.ssdut.java.AddLikeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelLikeServlet</servlet-name>
		<servlet-class>com.ssdut.java.CancelLikeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCommentServlet</servlet-name>
		<servlet-class>com.ssdut.java.AddCommentServlet</servlet-class>
	</servlet>





	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forgotServlet</servlet-name>
		<url-pattern>/forgotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resetNPServlet</servlet-name>
		<url-pattern>/resetNPServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>personalInfoServlet</servlet-name>
		<url-pattern>/personalInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFavoritesServlet</servlet-name>
		<url-pattern>/UploadFavoritesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addPaperServlet</servlet-name>
		<url-pattern>/addPaperServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addPaperFavoritesServlet</servlet-name>
		<url-pattern>/addPaperFavoritesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadServlet</servlet-name>
		<url-pattern>/DownLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFavoritesServlet</servlet-name>
		<url-pattern>/DeleteFavoritesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FavoritesServlet</servlet-name>
		<url-pattern>/FavoritesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>disFavoritesServlet</servlet-name>
		<url-pattern>/disFavoritesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>paperInfoServlet</servlet-name>
		<url-pattern>/paperInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/searchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>suggestServlet</servlet-name>
		<url-pattern>/suggestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarkReadServlet</servlet-name>
		<url-pattern>/MarkReadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFolderServlet</servlet-name>
		<url-pattern>/AddFolderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadMyFoldersServlet</servlet-name>
		<url-pattern>/UploadMyFoldersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDiscussServlet</servlet-name>
		<url-pattern>/AddDiscussServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddLikeServlet</servlet-name>
		<url-pattern>/AddLikeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelLikeServlet</servlet-name>
		<url-pattern>/CancelLikeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCommentServlet</servlet-name>
		<url-pattern>/AddCommentServlet</url-pattern>
	</servlet-mapping>
</web-app>